*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

.fondo {
    width: 1440px;
    height: 237px;
    position: absolute;
}

.logo {
    width: 350px;
    height: 220px;
    position: absolute;
    margin: 10px;
}